<!DOCTYPE html>
<html>
    <head>
       <title>Matthew Griffiths</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" /> 
        
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    </head>

    <body>
        
      <div id="app"><%- markup -%></div>
      <script src="/js/client.min.js" type="text/javascript"></script>
      
      <!-- 
          Sitemap
            |- Home 
            |- Blog
            |- Projects
            |- About me (CV)        
            |- Contact
    -->
        
    </body>
</html>
