---
title: "matthew james griffiths' personal website"
description: "Landing page of Matthew Griffiths' personal website"

name: Home
tags: 
- mainNav
- page

layout: layout.liquid
---
			<div class="center">
				<p>This is the personal website of <a href="{{ profile.linkedInUrl }}" target="_blank" rel="noopener">{{ profile.fullName lowercase }}</a>.</p>
			</div>
			
