---
title: "matthew james griffiths' personal website"
description: "Landing page of Matthew Griffiths' personal website"

layout: layout.liquid
---
			<div>
				<p>This is the personal website of <a href="{{ profile.linkedInUrl }}">{{ profile.fullName lowercase }}</a>.</p>
			</div>