---
title: "matthew james griffiths' personal website"
description: "Landing page of Matthew Griffiths' personal website"

layout: layout.liquid
---
			<div>
				<p>This is the personal website of <a href="https://www.linkedin.com/in/matthewgriffiths1">matthew james griffiths</a>.</p>
			</div>