/*
 * #313638 background
 * #F06543 highlight colour
 * #F2E9E4
 */

* 
{
//	border: 1px solid blue;
}

/****************
 *  General styles
 ****************/
HTML, BODY
{
	font-family: "Helvetica", sans-serif;
	color: #313638;
	
	height:100%;
}

BODY 
{
	//display:flex;
	//flex-direction: column;
	background-color: #F2E9E4;
	//align-items: center;
	
	height:100%;
}

MAIN
{
	display:flex;
	justify-content: center;
	
	height:90%;
}

A 
{
	color: #F06543;	
}


/****************
 *  Navigation 
 ****************/
NAV
{
	height: 10%;
	display: flex;
	align-items: center;
//	width:100%;
//	justify-content: left;
//	order:1;
}

NAV A 
{
	color: #313638;
	text-underline-position: under;
	text-decoration: none;
	margin-left:2em;
}

NAV A:first-child 
{
	margin-left:0;
}

NAV A:HOVER 
{
	color: #F06543;
}

NAV A.current 
{
	color: #F06543;
	text-decoration: underline;
}

/****************
 *  Landing page
 ****************/
DIV.center
{
	height: 90%;
}

DIV.center 
{
	display: flex;
	align-items: center;
	justify-content: center;
//	order:2;
}

DIV.center P 
{
	width:80%;
	font-size:2em;
	text-align: center; 
}


/****************
 *  Projects page
 ****************/
 
DIV.projects
{
	padding-left: 0;
	width: 80%;
} 

ARTICLE.project
{
	padding: 0 0.5em 0.5em 1em;
	margin: 0.5em 0;
}
 
ARTICLE.project H2
{
	font-size: 1.2em;
	margin-bottom: 0.2em;
	width:15%;
}

.private {
	color: #F06543;
}

P.last-commit
{
	font-size: 0.9em;	
	margin-top:0;
}

P.last-commit SPAN
{
	font-size: 0.8em;	
}

ARTICLE.project UL.languages 
{
	width:80%;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

ARTICLE.project UL.languages LI 
{
	list-style: none;
	margin-right:0.5em;
	font-size: 0.8em;
	display: flex;
	align-items: center;
}

ARTICLE.project UL.languages LI SPAN 
{
	font-size:0.6em;
	padding-left: 0.3em;
}

